<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Aroma Shop - Home</title>
        <link rel="icon" href="img/Fevicon.png" type="image/png">
        <link rel="stylesheet" href="Public/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="Public/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="Public/themify-icons/themify-icons.css">
        <link rel="stylesheet" href="Public/nice-select/nice-select.css">
        <link rel="stylesheet" href="Public/owl-carousel/owl.theme.default.min.css">
        <link rel="stylesheet" href="Public/owl-carousel/owl.carousel.min.css">

        <link rel="stylesheet" href="css/style.css">
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
    </head>
    <body>
        @RenderBody()
        <script src="Public/jquery/jquery-3.2.1.min.js"></script>
        <script src="Public/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="Public/skrollr.min.js"></script>
        <script src="Public/owl-carousel/owl.carousel.min.js"></script>
        <script src="Public/nice-select/jquery.nice-select.min.js"></script>
        <script src="Public/jquery.ajaxchimp.min.js"></script>
        <script src="Public/mail-script.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
